<!DOCTYPE html>
<html lang="en">
  <%- include('./layouts/header') %>
  <body>
    <%- include('./partials/navbar') %>
    <main>
      <div class="form-container">
        <div class="alert-container"><%- include('./partials/flash-alerts') %></div>
        <div class="login-container" id="room-password">
          <h1>Provide Password</h1>
          <form action="/chatrooms/<%=room.id%>/password" method="POST">
            <div class="form">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" required />
            </div>
            <div class="button-container">
              <button>Enter Chatroom</button>
            </div>
          </form>
        </div>
      </div>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
